// Key Highlights Component Styles
// Using vw() for desktop (base: 1920px) and vw-mobile() for mobile (base: 414px)

@import '../../utils/variables';
@import '../../utils/functions';
@import '../../utils/mixins';

.key-highlights {
  position: relative;
  width: 100%;
  padding: vw(100) 0;
  background: #ffffff;
  
  @include media('tablet') {
    padding: vw(80, 768) 0;
  }
  
  @include media('mobile') {
    padding: vw-mobile(60, 414) 0;
  }
  
  &__container {
    position: relative;
    width: 100%;
    max-width: vw(1725);
    margin: 0 auto;
  }
  
  &__title {
    font-family: $font-family-base;
    font-weight: 700;
    font-size: vw(40);
    line-height: vw(50);
    color: #00AD4D;
    margin: 0 0 vw(60) 0;
    
    @include media('tablet') {
      font-size: vw(32, 768);
      line-height: vw(40, 768);
      margin-bottom: vw(40, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(24, 414);
      line-height: vw-mobile(32, 414);
      margin-bottom: vw-mobile(30, 414);
    }
  }
  
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: vw(40) vw(60);
    
    @include media('tablet') {
      grid-template-columns: repeat(2, 1fr);
      gap: vw(30, 768) vw(40, 768);
    }
    
    @include media('mobile') {
      grid-template-columns: 1fr;
      gap: vw-mobile(30, 414);
    }
  }
  
  &__item {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: vw(30);
    
    @include media('tablet') {
      gap: vw(25, 768);
    }
    
    @include media('mobile') {
      gap: vw-mobile(20, 414);
    }
  }
  
  &__icon-wrapper {
    flex-shrink: 0;
    width: vw(100);
    height: vw(100);
    
    @include media('tablet') {
      width: vw(80, 768);
      height: vw(80, 768);
    }
    
    @include media('mobile') {
      width: vw-mobile(70, 414);
      height: vw-mobile(70, 414);
    }
  }
  
  &__icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  &__content {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    border-bottom: 1px solid #08A03F;
    padding-bottom: vw(5);
    
    @include media('tablet') {
      gap: 0;
      padding-bottom: vw(4, 768);
    }
    
    @include media('mobile') {
      gap: 0;
      padding-bottom: vw-mobile(4, 414);
    }
  }
  
  &__number {
    font-family: $font-family-base;
    font-weight: 700;
    font-size: vw(40);
    line-height: vw(50);
    color: #00AD4D;
    
    @include media('tablet') {
      font-size: vw(32, 768);
      line-height: vw(40, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(28, 414);
      line-height: vw-mobile(36, 414);
    }
  }
  
  &__description {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: vw(18);
    line-height: vw(28);
    color: #333333;
    margin: 0;
    
    @include media('tablet') {
      font-size: vw(16, 768);
      line-height: vw(26, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(14, 414);
      line-height: vw-mobile(22, 414);
    }
  }
}

