// Livelihood Tabs Component Styles
// Using vw() for desktop (base: 1920px) and vw-mobile() for mobile (base: 414px)

@import '../../utils/variables';
@import '../../utils/functions';
@import '../../utils/mixins';

.livelihood-tabs {
  position: relative;
  width: 100%;
  padding: vw(100) vw(100) 0 vw(100);
  background: #ffffff;
  
  @include media('tablet') {
    padding: vw(80, 768) vw(60, 768) 0 vw(60, 768);
  }
  
  @include media('mobile') {
    padding: vw-mobile(60, 414) vw-mobile(20, 414) 0 vw-mobile(20, 414);
  }
  
  &__container {
    position: relative;
    width: 100%;
    max-width: vw(1725);
    margin: 0 auto;
  }
  
  &__list {
    display: flex;
    flex-direction: row;
    gap: vw(30);
    margin-bottom: vw(60);
    
    @include media('tablet') {
      gap: vw(20, 768);
      margin-bottom: vw(40, 768);
      flex-wrap: wrap;
    }
    
    @include media('mobile') {
      flex-direction: column;
      gap: vw-mobile(20, 414);
      margin-bottom: vw-mobile(30, 414);
    }
  }
  
  &__item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    padding: 0;
    background: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: all $transition-base;
    flex: 1;
    min-width: 0;
    overflow: visible;
    height: vw(185);
    
    @include media('tablet') {
      height: vw(150, 768);
    }
    
    @include media('mobile') {
      height: vw-mobile(120, 414);
      width: 100%;
    }
    
    &:hover:not(&--active) {
      .livelihood-tabs__text {
        background: #00AD4D;
        
        .livelihood-tabs__title {
          color: #ffffff;
        }
      }
      
      .livelihood-tabs__svg-rect {
        fill: #126430;
      }
    }
    
    &--active {
      .livelihood-tabs__text {
        background: #00AD4D;
        
        .livelihood-tabs__title {
          color: #ffffff;
        }
      }
      
      .livelihood-tabs__svg-rect {
        fill: #126430;
      }
    }
  }
  
  &__icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    flex-shrink: 0;
    z-index: 2;
    width: vw(182);
    height: vw(182);
    
    @include media('tablet') {
      width: vw(150, 768);
      height: vw(150, 768);
    }
    
    @include media('mobile') {
      width: vw-mobile(120, 414);
      height: vw-mobile(120, 414);
    }
  }
  
  &__icon-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all $transition-base;
  }
  
  &__icon-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  &__text {
    flex: 1;
    min-width: 0;
    height: 100%;
    background: #e8f5e9;
    padding: vw(20) vw(30) vw(20) vw(125);
    margin-left: vw(91);
    display: flex;
    align-items: center;
    transition: all $transition-base;
    
    @include media('tablet') {
      margin-left: vw(75, 768);
      padding: vw(18, 768) vw(25, 768) vw(18, 768) vw(100, 768);
    }
    
    @include media('mobile') {
      margin-left: vw-mobile(60, 414);
      padding: vw-mobile(15, 414) vw-mobile(20, 414) vw-mobile(15, 414) vw-mobile(80, 414);
      min-height: vw-mobile(120, 414);
    }
  }
  
  &__title {
    font-family: $font-family-base;
    font-weight: 600;
    font-size: vw(24);
    line-height: vw(36);
    color: #126430;
    display: block;
    white-space: normal;
    text-align: left;
    
    @include media('tablet') {
      font-size: vw(20, 768);
      line-height: vw(30, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(14, 414);
      line-height: vw-mobile(26, 414);
    }
  }
  
  &__content {
    position: relative;
    width: 100%;
    min-height: vw(400);
    
    @include media('tablet') {
      min-height: vw(300, 768);
    }
    
    @include media('mobile') {
      min-height: vw-mobile(200, 414);
    }
  }
  
  &__panel {
    display: none;
    
    &--active {
      display: block;
    }
  }
  
  &__placeholder {
    font-family: $font-family-base;
    font-size: vw(18);
    color: #666;
    text-align: center;
    padding: vw(40);
    
    @include media('tablet') {
      font-size: vw(16, 768);
      padding: vw(30, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(14, 414);
      padding: vw-mobile(20, 414);
    }
  }
  
  &__panel-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: vw(60);
    width: 100%;
    
    @include media('tablet') {
      flex-direction: column;
      gap: vw(40, 768);
    }
    
    @include media('mobile') {
      flex-direction: column;
      gap: vw-mobile(30, 414);
    }
  }
  
  &__panel-left {
    flex-shrink: 0;
    width: vw(725);
    
    @include media('tablet') {
      width: 100%;
    }
    
    @include media('mobile') {
      width: 100%;
    }
  }
  
  &__panel-text {
    width: 100%;
  }
  
  &__panel-heading {
    font-family: $font-family-base;
    font-weight: 700;
    font-size: vw(35);
    line-height: vw(50);
    color: #00AD4D;
    margin: 0 0 vw(30) 0;
    
    @include media('tablet') {
      font-size: vw(28, 768);
      line-height: vw(40, 768);
      margin-bottom: vw(25, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(22, 414);
      line-height: vw-mobile(32, 414);
      margin-bottom: vw-mobile(20, 414);
    }
  }
  
  &__panel-paragraphs {
    width: 100%;
    @include flex(column, flex-start, flex-start);
    gap: vw(35);
    
    @include media('tablet') {
      gap: vw(30, 768);
    }
    
    @include media('mobile') {
      gap: vw-mobile(25, 414);
    }
  }
  
  &__panel-paragraph {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: vw(20);
    line-height: vw(28);
    color: #333333;
    margin: 0;
    
    @include media('tablet') {
      font-size: vw(18, 768);
      line-height: vw(26, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(16, 414);
      line-height: vw-mobile(22, 414);
    }
  }
  
  &__panel-right {
    flex-shrink: 0;
    width: vw(872);
    
    @include media('tablet') {
      width: 100%;
    }
    
    @include media('mobile') {
      width: 100%;
    }
  }
  
  &__panel-image-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    
    @include media('tablet') {
      width: 100%;
    }
    
    @include media('mobile') {
      width: 100%;
    }
  }
  
  &__panel-image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

