trigger:
  branches:
    include:
      - dev-backend
      - uat
      - main

variables:
  # Connection & Generic Config
  azureServiceConnection: 'lupinglobal-sc'
  resourceGroupName: 'RG-Lupin-CI' 
  nodeVersion: '20.x'
  artifactName: 'drop'
  
  # App Names
  uatWebAppName: 'lupin-uat'
  prodWebAppName: 'lupin-prd'

stages:

# =========================
# BUILD STAGE
# =========================
- stage: Build
  displayName: Build Frontend
  jobs:
    - job: BuildJob
      pool:
        vmImage: ubuntu-latest
      steps:
        - task: NodeTool@0
          inputs:
            versionSpec: '$(nodeVersion)'
          displayName: Use Node.js $(nodeVersion)

        # CodeQL Init
        - task: AdvancedSecurity-Codeql-Init@1
          displayName: Initialize CodeQL
          inputs:
            languages: 'javascript'
            querysuite: 'security-and-quality'
            configfilepath: '$(Build.SourcesDirectory)/.github/codeql/codeql-config.yml'

        - script: |
            npm install
            npm run build
          displayName: Install & Build

        - task: AdvancedSecurity-Codeql-Analyze@1
          displayName: Run CodeQL Analysis

        - task: ArchiveFiles@2
          displayName: Create deployment zip
          inputs:
            rootFolderOrFile: '$(Build.SourcesDirectory)'
            includeRootFolder: false
            archiveType: zip
            archiveFile: '$(Build.ArtifactStagingDirectory)/frontend.zip'
            replaceExistingArchive: true
            excludePatterns: |
              **/.git/**
              **/.github/**

        - task: PublishBuildArtifacts@1
          displayName: Publish artifact
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)/frontend.zip'
            ArtifactName: '$(artifactName)'

# =========================
# DEPLOY TO UAT
# =========================
- stage: Deploy_UAT
  displayName: Deploy to UAT
  dependsOn: Build
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/uat'))
  variables:
    - group: var-group-uat
  jobs:
    - deployment: DeployUAT
      displayName: Deploy to UAT Environment
      environment: uat
      strategy:
        runOnce:
          deploy:
            steps:
              - download: current
                artifact: $(artifactName)

              - task: AzureCLI@2
                displayName: 'Deploy via Azure CLI (UAT)'
                inputs:
                  azureSubscription: '$(azureServiceConnection)'
                  scriptType: 'bash'
                  scriptLocation: 'inlineScript'
                  inlineScript: |
                    az webapp deployment source config-zip \
                      --resource-group $(resourceGroupName) \
                      --name $(uatWebAppName) \
                      --src $(Pipeline.Workspace)/$(artifactName)/frontend.zip

# =========================
# DEPLOY TO PROD
# =========================
- stage: Deploy_Prod
  displayName: Deploy to Production
  dependsOn: Build
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  variables:
    - group: var-group-prod
  jobs:
    - deployment: DeployProd
      displayName: Deploy to Prod Environment
      environment: prod  
      strategy:
        runOnce:
          deploy:
            steps:
              - download: current
                artifact: $(artifactName)

              - task: AzureCLI@2
                displayName: 'Deploy via Azure CLI (Prod)'
                inputs:
                  azureSubscription: '$(azureServiceConnection)'
                  scriptType: 'bash'
                  scriptLocation: 'inlineScript'
                  inlineScript: |
                    az webapp deployment source config-zip \
                      --resource-group $(resourceGroupName) \
                      --name $(prodWebAppName) \
                      --src $(Pipeline.Workspace)/$(artifactName)/frontend.zip