trigger:
  branches:
    include:
      - uat

variables:
  azureServiceConnection: 'lupinglobal-sc'
  uatWebAppName: 'lupin-uat'
  nodeVersion: '20.x'

  NEXT_PUBLIC_STRAPI_BASE_URL: 'http://65.2.155.211:1380'
  NEXT_PUBLIC_STRAPI_API_URL: 'http://65.2.155.211:1380/api'
  NEXT_PUBLIC_BASE_PDF_URL: 'https://lupin-uat-aqcsfua0hhf0gke8.centralindia-01.azurewebsites.net'

stages:

################################
#       BUILD STAGE
################################
- stage: Build
  displayName: "Build frontend"
  jobs:
    - job: BuildJob
      pool:
        vmImage: 'ubuntu-latest'

      steps:

        - task: NodeTool@0
          inputs:
            versionSpec: '$(nodeVersion)'
          displayName: "Use Node $(nodeVersion)"

        # If client doesn't want security scanning, comment these 3 tasks
        - task: AdvancedSecurity-Codeql-Init@1
          inputs:
            languages: 'javascript'
            querysuite: 'security-and-quality'
          displayName: 'Initialize CodeQL'

        - task: AdvancedSecurity-Dependency-Scanning@1
          displayName: 'Dependency Scanning'

        - script: |
            npm install
            npm run build
          displayName: "Install & Build Next.js"
          env:
            SKIP_STRAPI_FETCH: "false"
            NEXT_PUBLIC_STRAPI_URL: $(NEXT_PUBLIC_STRAPI_BASE_URL)
            NEXT_PUBLIC_STRAPI_BASE_URL: $(NEXT_PUBLIC_STRAPI_BASE_URL)
            NEXT_PUBLIC_STRAPI_API_URL: $(NEXT_PUBLIC_STRAPI_API_URL)
            NEXT_PUBLIC_BASE_PDF_URL: $(NEXT_PUBLIC_BASE_PDF_URL)

        - task: AdvancedSecurity-Codeql-Analyze@1
          displayName: 'Perform CodeQL Analysis'

        # Assemble standalone bundle
        - script: |
            set -e

            echo "Creating standalone bundle..."
            mkdir -p .next/standalone/.next
            mkdir -p .next/standalone/.next/cache

            echo "Copying .next/static..."
            if [ -d ".next/static" ]; then
              cp -r .next/static .next/standalone/.next/static
            fi

            echo "Copying public folder..."
            if [ -d "public" ]; then
              cp -r public .next/standalone/public
            fi

            echo "Standalone bundle content:"
            ls -la .next/standalone
          displayName: "Assemble standalone bundle"

        - task: ArchiveFiles@2
          displayName: "Archive standalone output"
          inputs:
            rootFolderOrFile: "$(System.DefaultWorkingDirectory)/.next/standalone"
            includeRootFolder: false
            archiveType: zip
            archiveFile: "$(Build.ArtifactStagingDirectory)/frontend.zip"
            replaceExistingArchive: true

        - task: PublishBuildArtifacts@1
          displayName: "Publish Artifact"
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)'
            ArtifactName: 'drop'
            publishLocation: 'Container'


################################
#       UAT DEPLOYMENT
################################
- stage: Deploy_UAT
  displayName: "Deploy to UAT"
  dependsOn: Build
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/uat')

  jobs:
    - deployment: DeployUAT
      displayName: "Deploy to UAT Web App"
      environment: "uat"
      strategy:
        runOnce:
          deploy:
            steps:
              - download: current
                artifact: drop

              - task: AzureWebApp@1
                displayName: "Deploy Next.js to UAT"
                inputs:
                  azureSubscription: "$(azureServiceConnection)"
                  appType: webAppLinux
                  appName: "$(uatWebAppName)"
                  package: "$(Pipeline.Workspace)/drop/frontend.zip"
                  startUpCommand: "node server.js"