@import '../utils/variables';
@import '../utils/functions';
@import '../utils/mixins';

// Awards and Recognition Section
.awards-and-recognition-section {
  position: relative;
  width: 100%;
  
  &__year-selector-wrapper {
    position: relative;
    width: 100%;
    background-color: #08A03F;
    padding: vw(60) 0;
    
    @include media('tablet') {
      padding: vw(50, 768) 0;
    }
    
    @include media('mobile') {
      padding: vw-mobile(40, 414) 0;
    }
  }
}

