@import '../utils/variables';
@import '../utils/functions';
@import '../utils/mixins';

.branded-emerging-markets-markets {
  position: relative;
  width: 100%;
  background: #e9fff1; // Light green background
  
  @include media('tablet') {
    // Tablet styles
  }
  
  @include media('mobile') {
    // Mobile styles
  }

  &__container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: vw(45) vw(99);
    max-width: vw(1920);
    
    @include media('tablet') {
      padding: vw(40, 768) vw(50, 768);
    }
    
    @include media('mobile') {
      padding: vw-mobile(30, 414) vw-mobile(20, 414);
    }
  }

  &__heading {
    font-family: $font-family-base;
    font-weight: 700; // Bold
    font-size: vw(65);
    line-height: vw(84.5);
    color: #08a03f;
    margin: 0 0 vw(40) 0;
    text-align: left;

    @include media('tablet') {
      font-size: vw(55, 768);
      line-height: vw(70, 768);
      margin-bottom: vw(30, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(32, 414);
      line-height: vw-mobile(42, 414);
      margin-bottom: vw-mobile(20, 414);
    }
  }

  &__content {
    font-family: $font-family-base;
    font-weight: 500; // Medium
    font-size: vw(20);
    line-height: vw(36);
    color: #1e1e1e;
    margin: 0;
    text-align: left;
    max-width: vw(1696);

    @include media('tablet') {
      font-size: vw(18, 768);
      line-height: vw(32, 768);
      max-width: 100%;
    }
    
    @include media('mobile') {
      font-size: vw-mobile(16, 414);
      line-height: vw-mobile(28, 414);
      max-width: 100%;
    }
  }
}

