// Inner Banner Component Styles
// Using vw() for desktop (base: 1920px) and vw-mobile() for mobile (base: 414px)

@import '../utils/variables';
@import '../utils/functions';
@import '../utils/mixins';

.inner-banner {
  position: relative;
  width: 100%;
  height: vw(720);
  overflow: hidden;
  
  @include media('mobile') {
    height: vw-mobile(570, 414);
  }
  
  // Background Layers
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  &__bg-base {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #41b66b;
    z-index: 1;
  }
  
  &__bg-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #54bd7a;
    opacity: 0.8;
    z-index: 2;
  }
  
  &__petal {
    position: absolute;
    left: vw(231);
    top: vw(76);
    width: vw(400);
    height: vw(400);
    z-index: 3;
    
    @include media('mobile') {
      display: none;
    }
  }
  
  &__petal-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  &__overlay-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(88.83deg, rgba(11, 84, 89, 0.7) 5.54%, rgba(8, 162, 64, 0) 66.8%);
    z-index: 4;
  }
  
  &__overlay-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(6, 51, 54, 0.77) 0%, rgba(8, 162, 64, 0) 37.537%);
    mix-blend-mode: multiply;
    z-index: 5;
  }
  
  &__overlay-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(6, 51, 54, 0.77) 0%, rgba(8, 162, 64, 0) 37.537%);
    mix-blend-mode: multiply;
    opacity: 0.1;
    z-index: 6;
  }
  
  // Banner Image
  &__image {
    position: absolute;
    z-index: 7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__image--desktop {
    display: block;
    
    @include media('mobile') {
      display: none;
    }
  }

  &__image--mobile {
    display: none;
    
    @include media('mobile') {
      display: block;
    }
  }

  &__image-img {
    object-fit: cover;
    object-position: center;
  }
  
  // Content
  &__content {
    position: relative;
    width: vw(1920);
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 8;
  }
  
  &__text {
    position: absolute;
    left: vw(99);
    top: vw(558);
    
    @include media('mobile') {
      left: vw-mobile(20, 414);
      top: vw-mobile(200, 414);
    }
  }
  
  &__title {
    font-family: $font-family-base;
    font-weight: 700;
    font-size: vw(65);
    line-height: vw(75);
    color: #ffffff;
    margin: 0;
    white-space: nowrap;
    
    @include media('mobile') {
      font-size: vw-mobile(28, 414);
      line-height: vw-mobile(36, 414);
      white-space: normal;
    }
  }
  
  &__title-line {
    display: block;
    
    &:first-child {
      margin-bottom: 0;
    }
  }

  &__subheading {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: vw(35);
    line-height: vw(45);
    color: #ffffff;
    margin: vw(20) 0 0 0;
    opacity: 0.9;
    width: 60%;
    
    @include media('mobile') {
      font-size: vw-mobile(16, 414);
      line-height: vw-mobile(24, 414);
      margin: vw-mobile(12, 414) 0 0 0;
    }
  }
}

