// Investor FAQs Component Styles
// Using vw() for desktop (base: 1920px) and vw-mobile() for mobile (base: 414px)

@import '../utils/variables';
@import '../utils/functions';
@import '../utils/mixins';

.investor-faqs {
  position: relative;
  width: 100%;
  padding: vw(100) 0 0 0;
  background: #f6f6f6;
  
  @include media('mobile') {
    padding: vw-mobile(50, 414) 0 0 0;
  }
  
  &__bg {
    position: absolute;
    top: 0;
    left: vw(-7);
    width: vw(1934);
    height: 100%;
    background: #f6f6f6;
    z-index: 0;
    
    @include media('mobile') {
      left: 0;
      width: 100%;
    }
  }
  
  &__container {
    position: relative;
    width: vw(1920);
    max-width: 100%;
    margin: 0 auto;
    @include flex(column, flex-start, center);
    gap: vw(70);
    padding: 0 0 vw(40) 0;
    z-index: 2;
    
    @include media('mobile') {
      width: 100%;
      gap: vw-mobile(40, 414);
      padding: 0 vw-mobile(20, 414) vw-mobile(20, 414) vw-mobile(20, 414);
    }
  }
  
  // Navigation Tabs - using NavigationLinks component (no need to duplicate)
  
  // Featured FAQ Section
  &__featured {
    position: relative;
    width: 100%;
    background: #d9f0e1;
    border-radius: vw(15) 0 0 0;
    padding: vw(54) vw(100);
    margin-top: vw(73);
    min-height: vw(327);
    
    @include media('mobile') {
      padding: vw-mobile(30, 414) vw-mobile(20, 414);
      margin-top: vw-mobile(30, 414);
      border-radius: vw-mobile(10, 414) 0 0 0;
      min-height: auto;
    }
  }
  
  &__featured-content {
    width: vw(1720);
    max-width: 100%;
    
    @include media('mobile') {
      width: 100%;
    }
  }
  
  &__featured-question {
    font-family: $font-family-base;
    font-weight: 700;
    font-size: vw(35);
    line-height: 1.37;
    color: #126430;
    margin: 0 0 vw(20) 0;
    
    @include media('mobile') {
      font-size: vw-mobile(20, 414);
      margin-bottom: vw-mobile(15, 414);
    }
  }
  
  &__featured-answer {
    @include flex(column, flex-start, flex-start);
    gap: vw(10);
    
    @include media('mobile') {
      gap: vw-mobile(8, 414);
    }
  }
  
  &__featured-answer-item {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: vw(24);
    line-height: 1.5;
    color: #126430;
    margin: 0;
    
    @include media('mobile') {
      font-size: vw-mobile(14, 414);
    }
  }
  
  &__featured-close {
    position: absolute;
    top: vw(5);
    right: vw(5);
    width: vw(83);
    height: vw(82);
    background: transparent;
    border: none;
    font-size: vw(60);
    line-height: 1;
    color: #126430;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all $transition-base;
    
    @include media('mobile') {
      width: vw-mobile(40, 414);
      height: vw-mobile(40, 414);
      font-size: vw-mobile(30, 414);
      top: vw-mobile(5, 414);
      right: vw-mobile(5, 414);
    }
    
    &:hover {
      opacity: 0.7;
    }
  }
  
  // Regular FAQ Items
  &__list {
    width: 100%;
    max-width: 100%;
    @include flex(column, flex-start, flex-start);
    gap: 0;
    margin-top: vw(50);
    
    @include media('mobile') {
      width: 100%;
      margin-top: vw-mobile(30, 414);
    }
  }
  
  &__item {
    width: 100%;
    @include flex(column, flex-start, flex-start);
    position: relative;
    padding: vw(100) vw(100) 0 vw(100);
    
    @include media('mobile') {
      padding: vw-mobile(20, 414) vw-mobile(20, 414) 0 vw-mobile(20, 414);
    }
    
    &--expanded {
      width: 100%;
      background: #d9f0e1;
      border-radius: vw(15);
      padding: vw(54) vw(100);
      margin-bottom: vw(20);
      
      @include media('mobile') {
        border-radius: vw-mobile(10, 414);
        padding: vw-mobile(30, 414) vw-mobile(20, 414);
        margin-bottom: vw-mobile(15, 414);
      }
    }
  }
  
  &__item-header {
    width: 100%;
    @include flex(row, space-between, center);
    gap: vw(20);
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    text-align: left;
    
    @include media('mobile') {
      gap: vw-mobile(10, 414);
      align-items: flex-start;
    }
    
    &:hover {
      opacity: 0.8;
    }
  }
  
  &__item-question {
    font-family: $font-family-base;
    font-weight: 600;
    font-size: vw(28);
    line-height: 1.37;
    color: #126430;
    margin: 0;
    padding-bottom: vw(30);
    flex: 1;
    text-align: left;
    
    @include media('mobile') {
      font-size: vw-mobile(16, 414);
      padding-bottom: vw-mobile(15, 414);
    }
  }
  
  &__item-icon {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: vw(50);
    line-height: 1;
    color: #126430;
    min-width: vw(50);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    
    @include media('mobile') {
      font-size: vw-mobile(30, 414);
      min-width: vw-mobile(30, 414);
    }
  }
  
  &__item-answer {
    width: 100%;
    padding: vw(20) 0 0 0;
    margin-top: vw(20);
    
    @include media('mobile') {
      padding: vw-mobile(15, 414) 0 0 0;
      margin-top: vw-mobile(15, 414);
    }
    
    p {
      font-family: $font-family-base;
      font-weight: 400;
      font-size: vw(24);
      line-height: 1.5;
      color: #126430;
      margin: 0;
      
      @include media('mobile') {
        font-size: vw-mobile(14, 414);
      }
    }
  }
  
  &__item-divider {
    width: 100%;
    height: vw(1);
    background: #d0d0d0;
    margin: 0;
    
    // Hide divider when item is expanded (it's inside the green box)
    .investor-faqs__item--expanded & {
      display: none;
    }
    
    @include media('mobile') {
      height: vw-mobile(1, 414);
    }
  }
  
  // View All Link
  &__view-all {
    width: 100%;
    text-align: center;
    margin-top: vw(80);
    margin-bottom: vw(40);
    
    @include media('mobile') {
      margin-top: vw-mobile(40, 414);
      margin-bottom: vw-mobile(20, 414);
    }
  }
  
  &__view-all-link {
    font-family: $font-family-base;
    font-weight: 500;
    font-size: vw(32);
    line-height: 1.37;
    color: #1E1E1E;
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all $transition-base;
    
    @include media('mobile') {
      font-size: vw-mobile(18, 414);
    }
    
    &:hover {
      color: #126430;
      text-decoration: underline;
    }
  }
}

