// News & Insights Section Component (from Figma design)
// https://www.figma.com/design/QNIbuokNouJSBEY7GUGsEI/Jash---Final-Home-page-auto-layout--Copy-?node-id=22-3369

@import '../utils/variables';
@import '../utils/functions';
@import '../utils/mixins';

.news-insights {
  position: relative;
  width: 100%;
  height: vw(1080);
  overflow: hidden;
  
  @include media('desktop') {
    height: auto;
    min-height: vw(900);
  }
  
  @include media('mobile') {
    height: auto;
    min-height: vw-mobile(800, 414);
  }
  
  // Container
  &__container {
    background: #a5cd39;
    @include flex(column, center, center);
    gap: vw(75);
    height: vw(1080);
    padding: vw(84) 0;
    
    @include media('desktop') {
      height: auto;
      min-height: vw(900);
      gap: vw(60);
      padding: vw(70) vw(50);
    }
    
    @include media('mobile') {
      gap: vw-mobile(50, 414);
      padding: vw-mobile(60, 414) vw-mobile(30, 414);
    }
  }
  
  // Title
  &__title {
    font-family: $font-family-base;
    font-weight: 600;
    font-size: vw(46);
    line-height: vw(41);
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    
    @include media('desktop') {
      font-size: vw(40, 1440);
      line-height: vw(36, 1440);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(32, 414);
      line-height: vw-mobile(30, 414);
    }
  }
  
  // News Items Container
  &__items {
    @include flex(row, center, center);
    gap: vw(82);
    width: 100%;
    max-width: vw(1400);
    
    @include media('desktop') {
      gap: vw(60);
      flex-wrap: wrap;
    }
    
    @include media('mobile') {
      flex-direction: column;
      gap: vw-mobile(50, 414);
    }
  }
  
  // News Item
  &__item {
    @include flex(column, flex-start, flex-start);
    gap: vw(10);
    width: vw(626.508);
    
    @include media('desktop') {
      width: vw(550, 1440);
    }
    
    @include media('mobile') {
      width: 100%;
      gap: vw-mobile(20, 414);
    }
  }
  
  // Circular Image Container
  &__circle {
    position: relative;
    width: vw(626.508);
    height: vw(626.508);
    @include flex(column, center, center);
    padding: vw(279) vw(176);
    
    @include media('desktop') {
      width: vw(550, 1440);
      height: vw(550, 1440);
      padding: vw(240, 1440) vw(150, 1440);
    }
    
    @include media('mobile') {
      width: vw-mobile(400, 414);
      height: vw-mobile(400, 414);
      padding: vw-mobile(180, 414) vw-mobile(100, 414);
    }
  }
  
  // Outer Circle Image
  &__circle-outer {
    position: absolute;
    left: 0;
    top: 0;
    width: vw(626.508);
    height: vw(626.508);
    z-index: 1;
    
    @include media('desktop') {
      width: vw(550, 1440);
      height: vw(550, 1440);
    }
    
    @include media('mobile') {
      width: vw-mobile(400, 414);
      height: vw-mobile(400, 414);
    }
  }
  
  // Inner Circle Image
  &__circle-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: vw(626.508);
    height: vw(626.508);
    z-index: 2;
    
    @include media('desktop') {
      width: vw(550, 1440);
      height: vw(550, 1440);
    }
    
    @include media('mobile') {
      width: vw-mobile(400, 414);
      height: vw-mobile(400, 414);
    }
    
    &--opacity {
      opacity: 0.5;
    }
  }
  
  &__circle-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  // Know More Button
  &__button {
    position: relative;
    background: #FFFFFF;
    border-radius: vw(64.947);
    padding: vw(17) vw(29);
    height: vw(68.801);
    width: vw(274.611);
    text-decoration: none;
    z-index: 10;
    transition: transform $transition-base, box-shadow $transition-base;
    
    @include media('desktop') {
      border-radius: vw(55, 1440);
      padding: vw(14) vw(24, 1440);
      height: vw(58, 1440);
      width: vw(240, 1440);
    }
    
    @include media('mobile') {
      border-radius: vw-mobile(45, 414);
      padding: vw-mobile(12, 414) vw-mobile(20, 414);
      height: vw-mobile(50, 414);
      width: vw-mobile(200, 414);
    }
    
    &:hover {
      transform: translateY(vw(-2));
      box-shadow: 0 vw(8) vw(20) rgba(0, 0, 0, 0.15);
    }
  }
  
  &__button-inner {
    @include flex(column, flex-start, flex-start);
    gap: vw(1);
    width: 100%;
    height: 100%;
  }
  
  &__button-content {
    @include flex(row, flex-start, center);
    gap: vw(11);
    width: 100%;
    
    @include media('desktop') {
      gap: vw(9, 1440);
    }
    
    @include media('mobile') {
      gap: vw-mobile(8, 414);
    }
  }
  
  &__button-dot {
    width: vw(5.451);
    height: vw(5.451);
    background: #363732;
    border-radius: 50%;
    flex-shrink: 0;
    
    @include media('desktop') {
      width: vw(4.5, 1440);
      height: vw(4.5, 1440);
    }
    
    @include media('mobile') {
      width: vw-mobile(4, 414);
      height: vw-mobile(4, 414);
    }
  }
  
  &__button-text {
    font-family: 'D-DIN', 'DIN-Bold', $font-family-base;
    font-weight: 700;
    font-size: vw(27.539);
    line-height: vw(32.261);
    text-transform: capitalize;
    color: #363732;
    margin: 0;
    height: vw(33);
    
    @include media('desktop') {
      font-size: vw(24, 1440);
      line-height: vw(28, 1440);
      height: auto;
    }
    
    @include media('mobile') {
      font-size: vw-mobile(20, 414);
      line-height: vw-mobile(24, 414);
    }
  }
  
  &__button-underline {
    display: block;
    width: 100%;
    height: vw(0.69);
    background: #363732;
    
    @include media('desktop') {
      height: vw(0.6, 1440);
    }
    
    @include media('mobile') {
      height: vw-mobile(0.5, 414);
    }
  }
  
  // Text Content
  &__text {
    @include flex(column, flex-start, flex-start);
    gap: vw(25);
    width: vw(518.952);
    text-transform: capitalize;
    
    @include media('desktop') {
      width: 100%;
      gap: vw(20, 1440);
    }
    
    @include media('mobile') {
      width: 100%;
      gap: vw-mobile(18, 414);
    }
  }
  
  // Date
  &__date {
    font-family: $font-family-base;
    font-weight: 700;
    font-size: vw(20);
    line-height: vw(22);
    color: #FFFFFF;
    margin: 0;
    
    @include media('desktop') {
      font-size: vw(18, 1440);
      line-height: vw(20, 1440);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(16, 414);
      line-height: vw-mobile(18, 414);
    }
  }
  
  // Headline
  &__headline {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: vw(24);
    line-height: vw(31);
    color: #FFFFFF;
    margin: 0;
    
    @include media('desktop') {
      font-size: vw(22, 1440);
      line-height: vw(28, 1440);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(18, 414);
      line-height: vw-mobile(24, 414);
    }
  }
}

