// Patient Support Programs Looking Ahead Section Component Styles
// Using vw() for desktop (base: 1920px) and vw-mobile() for mobile (base: 414px)
// Based on Figma design: https://www.figma.com/design/QNIbuokNouJSBEY7GUGsEI/Jash---Final-Home-page-auto-layout--Copy-?node-id=2955-50

@import '../utils/variables';
@import '../utils/functions';
@import '../utils/mixins';

.patient-support-programs-looking-ahead {
  position: relative;
  width: 100%;
  min-height: vw(374);
  
  @include media('tablet') {
    min-height: vw(300, 768);
  }
  
  @include media('mobile') {
    min-height: vw-mobile(250, 414);
  }
  
  // Background
  &__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #e9fff1;
    mix-blend-mode: multiply;
    z-index: 1;
  }
  
  // Container
  &__container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: vw(66) vw(100);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: vw(30);
    z-index: 2;
    
    @include media('tablet') {
      padding: vw(50, 768) vw(60, 768);
      gap: vw(25, 768);
    }
    
    @include media('mobile') {
      padding: vw-mobile(40, 414) vw-mobile(20, 414);
      gap: vw-mobile(20, 414);
    }
  }
  
  // Heading
  &__heading {
    font-family: $font-family-base;
    font-weight: 700; // Bold
    font-size: vw(58);
    line-height: vw(80);
    color: #08a03f;
    margin: 0;
    width: 100%;
    
    @include media('tablet') {
      font-size: vw(45, 768);
      line-height: vw(60, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(32, 414);
      line-height: vw-mobile(40, 414);
    }
  }
  
  // Content
  &__content {
    font-family: $font-family-base;
    font-weight: 500; // Medium
    font-size: vw(22);
    line-height: 2;
    color: #000000;
    margin: 0;
    width: 100%;
    
    @include media('tablet') {
      font-size: vw(20, 768);
      line-height: 1.8;
    }
    
    @include media('mobile') {
      font-size: vw-mobile(18, 414);
      line-height: 1.6;
    }
  }
}

