// Privacy Policy Content Component Styles
// Using vw() for desktop (base: 1920px) and vw-mobile() for mobile (base: 414px)

@import '../utils/variables';
@import '../utils/functions';
@import '../utils/mixins';

.privacy-policy-content {
  position: relative;
  width: 100%;
  padding: vw(100) vw(100);
  background: #ffffff;
  
  @include media('tablet') {
    padding: vw(60, 768) vw(60, 768);
  }
  
  @include media('mobile') {
    padding: vw-mobile(40, 414) vw-mobile(20, 414);
  }
  
  &__container {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  
  &__wrapper {
    width: 100%;
  }
  
  &__intro {
    margin-bottom: vw(50);
    
    @include media('tablet') {
      margin-bottom: vw(40, 768);
    }
    
    @include media('mobile') {
      margin-bottom: vw-mobile(30, 414);
    }
    
    p {
      font-family: $font-family-base;
      font-weight: 400;
      font-size: vw(18);
      line-height: vw(28);
      color: #1e1e1e;
      margin: 0;
      
      @include media('tablet') {
        font-size: vw(16, 768);
        line-height: vw(26, 768);
      }
      
      @include media('mobile') {
        font-size: vw-mobile(14, 414);
        line-height: vw-mobile(22, 414);
      }
    }
  }
  
  &__section {
    margin-bottom: vw(50);
    
    @include media('tablet') {
      margin-bottom: vw(40, 768);
    }
    
    @include media('mobile') {
      margin-bottom: vw-mobile(30, 414);
    }
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &__section-title {
    font-family: $font-family-base;
    font-weight: 700; // Bold
    font-size: vw(28);
    line-height: vw(36);
    color: #08a03f;
    margin: 0 0 vw(25) 0;
    text-transform: uppercase;
    
    @include media('tablet') {
      font-size: vw(24, 768);
      line-height: vw(32, 768);
      margin-bottom: vw(20, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(20, 414);
      line-height: vw-mobile(28, 414);
      margin-bottom: vw-mobile(15, 414);
    }
  }
  
  p {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: vw(18);
    line-height: vw(28);
    color: #1e1e1e;
    margin: 0 0 vw(20) 0;
    
    @include media('tablet') {
      font-size: vw(16, 768);
      line-height: vw(26, 768);
      margin-bottom: vw(18, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(14, 414);
      line-height: vw-mobile(22, 414);
      margin-bottom: vw-mobile(15, 414);
    }
    
    &:last-child {
      margin-bottom: 0;
    }
    
    a {
      color: #08a03f;
      text-decoration: underline;
      transition: color 0.3s ease;
      
      &:hover {
        color: #06a03f;
      }
    }
  }
  
  ul {
    margin: vw(20) 0;
    padding-left: vw(30);
    
    @include media('tablet') {
      margin: vw(18, 768) 0;
      padding-left: vw(25, 768);
    }
    
    @include media('mobile') {
      margin: vw-mobile(15, 414) 0;
      padding-left: vw-mobile(20, 414);
    }
    
    li {
      font-family: $font-family-base;
      font-weight: 400;
      font-size: vw(18);
      line-height: vw(28);
      color: #1e1e1e;
      margin-bottom: vw(15);
      
      @include media('tablet') {
        font-size: vw(16, 768);
        line-height: vw(26, 768);
        margin-bottom: vw(12, 768);
      }
      
      @include media('mobile') {
        font-size: vw-mobile(14, 414);
        line-height: vw-mobile(22, 414);
        margin-bottom: vw-mobile(10, 414);
      }
      
      &:last-child {
        margin-bottom: 0;
      }
      
      strong {
        font-weight: 700;
        color: #08a03f;
      }
    }
  }
  
  &__update-date {
    font-family: $font-family-base;
    font-weight: 500; // Medium
    font-size: vw(16);
    line-height: vw(24);
    color: #08a03f;
    font-style: italic;
    margin-top: vw(30);
    
    @include media('tablet') {
      font-size: vw(15, 768);
      line-height: vw(22, 768);
      margin-top: vw(25, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(13, 414);
      line-height: vw-mobile(20, 414);
      margin-top: vw-mobile(20, 414);
    }
  }
}

