// Product Finder Background Section Component Styles
// Using vw() for desktop (base: 1920px) and vw-mobile() for mobile (base: 414px)

@import '../utils/variables';
@import '../utils/functions';
@import '../utils/mixins';

.product-finder-background-section {
  position: relative;
  width: 100%;
  padding: 0;
  overflow: hidden;
  
  @include media('tablet') {
    padding: 0;
  }
  
  @include media('mobile') {
    padding: 0;
  }
  
  &__container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  // Background Image
  &__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  &__bg-img {
    object-fit: cover;
    object-position: center;
  }
  
  // Content Wrapper
  &__content-wrapper {
    position: relative;
    width: 100%;
    z-index: 2;
    min-height: vw(500);
    padding: vw(100) vw(100);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: vw(60);
    
    @include media('tablet') {
      min-height: vw(400, 768);
      padding: vw(60, 768) vw(60, 768);
      flex-direction: column;
      gap: vw(40, 768);
    }
    
    @include media('mobile') {
      min-height: vw-mobile(300, 414);
      padding: vw-mobile(40, 414) vw-mobile(20, 414);
      flex-direction: column;
      gap: vw-mobile(30, 414);
    }
  }
  
  // Left Side (Search Form)
  &__left {
    flex: 0 0 auto;
    width: auto;
    
    @include media('tablet') {
      width: 100%;
    }
    
    @include media('mobile') {
      width: 100%;
    }
  }
  
  // Right Side (Letter Filter)
  &__right {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    
    @include media('tablet') {
      width: 100%;
      justify-content: center;
    }
    
    @include media('mobile') {
      width: 100%;
      justify-content: center;
    }
  }
  
  // Results Section
  &__results {
    position: relative;
    width: 100%;
    z-index: 2;
    background: #ffffff;
  }
}

