// Science Digital Section Component Styles
// Using vw() for desktop (base: 1920px) and vw-mobile() for mobile (base: 414px)
// Based on Figma design: https://www.figma.com/design/QNIbuokNouJSBEY7GUGsEI/Jash---Final-Home-page-auto-layout--Copy-?node-id=3097-519

@import '../utils/variables';
@import '../utils/functions';
@import '../utils/mixins';

.science-digital {
  position: relative;
  width: 100%;
  min-height: vw(800);
  overflow: hidden;
  
  @include media('tablet') {
    min-height: vw(700, 768);
  }
  
  @include media('mobile') {
    min-height: vw-mobile(600, 414);
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    align-items: stretch;
    width: 100%;
    min-height: vw(800);
    
    @include media('tablet') {
      grid-template-columns: 1fr;
      gap: 0;
      min-height: vw(700, 768);
    }
    
    @include media('mobile') {
      grid-template-columns: 1fr;
      gap: 0;
      min-height: vw-mobile(600, 414);
    }
  }

  &__left {
    position: relative;
    width: 100%;
    min-height: vw(800);
    
    @include media('tablet') {
      min-height: vw(700, 768);
    }
    
    @include media('mobile') {
      min-height: vw-mobile(600, 414);
      order: 2;
    }
  }

  &__background {
    position: absolute;
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    
    &-image {
      object-fit: cover;
      object-position: center;
    }
  }

  &__left-content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: vw(80);
    @include flex(column, center, flex-start);
    gap: vw(30);
    
    @include media('tablet') {
      padding: vw(60, 768);
      gap: vw(25, 768);
      @include flex(column, center, flex-start);
    }
    
    @include media('mobile') {
      padding: vw-mobile(40, 414);
      gap: vw-mobile(20, 414);
      @include flex(column, center, flex-start);
    }
  }

  &__main-heading {
    font-family: $font-family-base;
    font-weight: 700; // Bold
    font-size: vw(65);
    line-height: vw(80);
    color: #ffffff;
    margin: 0;
    
    @include media('tablet') {
      font-size: vw(55, 768);
      line-height: vw(70, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(32, 414);
      line-height: vw-mobile(42, 414);
    }
  }

  &__intro {
    font-family: $font-family-base;
    font-weight: 400; // Regular
    font-size: vw(20);
    line-height: vw(32);
    color: #ffffff;
    margin: 0;
    
    @include media('tablet') {
      font-size: vw(18, 768);
      line-height: vw(28, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(16, 414);
      line-height: vw-mobile(24, 414);
    }
  }

  &__section {
    @include flex(row, flex-start, flex-start);
    gap: vw(40);
    width: 100%;
    margin-top: vw(20);
    
    @include media('tablet') {
      flex-direction: column;
      gap: vw(25, 768);
      margin-top: vw(15, 768);
    }
    
    @include media('mobile') {
      flex-direction: column;
      gap: vw-mobile(20, 414);
      margin-top: vw-mobile(15, 414);
    }
  }

  &__section-heading {
    font-family: $font-family-base;
    font-weight: 700; // Bold
    font-size: vw(65);
    line-height: vw(80);
    color: #ffffff;
    margin: 0;
    white-space: nowrap;
    
    @include media('tablet') {
      font-size: vw(55, 768);
      line-height: vw(70, 768);
      white-space: normal;
    }
    
    @include media('mobile') {
      font-size: vw-mobile(32, 414);
      line-height: vw-mobile(42, 414);
      white-space: normal;
    }
    
    &-line {
      display: block;
    }
  }

  &__divider {
    width: 1px;
    height: vw(157);
    background: #ffffff;
    flex-shrink: 0;
    
    @include media('tablet') {
      display: none;
    }
    
    @include media('mobile') {
      display: none;
    }
  }

  &__description {
    font-family: $font-family-base;
    font-weight: 400; // Regular
    font-size: vw(20);
    line-height: vw(32);
    color: #ffffff;
    margin: 0;
    flex: 1;
    
    @include media('tablet') {
      font-size: vw(18, 768);
      line-height: vw(28, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(16, 414);
      line-height: vw-mobile(24, 414);
    }
  }

  &__right {
    position: relative;
    width: 100%;
    background: transparent;
    
    @include media('mobile') {
      order: 1;
    }
  }

  &__image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: vw(800);
    overflow: hidden;
    
    @include media('tablet') {
      min-height: vw(600, 768);
    }
    
    @include media('mobile') {
      min-height: vw-mobile(400, 414);
    }
  }

  &__image {
    object-fit: cover;
    object-position: center;
  }
}

