@import '../utils/variables';
@import '../utils/functions';
@import '../utils/mixins';

.science-capabilities {
  &__container {
    max-width: vw(1920);
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    position: relative;
    background-color: #CBFFDE;

    @include media('tablet') {
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
      padding: 0;
    }

    @include media('mobile') {
      grid-template-columns: 1fr;
      gap: 0;
      padding: 0;
    }
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: vw(70) vw(70);
    min-height: vw(326);

    @include media('mobile') {
      min-height: auto;
      padding: vw-mobile(44);
    }
  }

  &__title {
    color: #034a1d;
    font-size: vw(20);
    font-weight: 700;
    line-height: vw(36);
    margin: 0 0 vw(20) 0;
    text-align: center;

    @include media('tablet') {
      font-size: vw(18);
      line-height: vw(32);
      margin-bottom: vw(15);
    }

    @include media('mobile') {
      font-size: vw-mobile(18);
      line-height: vw-mobile(28);
      margin-bottom: vw-mobile(15);
    }
  }

  &__description {
    color: #034a1d;
    font-size: vw(18);
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 vw(87) 0;
    text-align: center;
    flex: 1;
    width: 91%;

    @include media('tablet') {
      font-size: vw(16);
      line-height: 1.2;
      margin-bottom: vw(25);
    }

    @include media('mobile') {
      font-size: vw-mobile(16);
      line-height: 1.2;
      margin-bottom: vw-mobile(20);
    }
  }

  &__icon {
    width: vw(114);
    height: vw(114);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include media('tablet') {
      width: vw(100);
      height: vw(100);
    }

    @include media('mobile') {
      width: vw-mobile(100);
      height: vw-mobile(100);
    }
  }

  &__box--middle {
    .science-capabilities__icon {
      margin-top: 0;
      margin-bottom: vw(87);

      @include media('tablet') {
        margin-bottom: vw(25);
      }

      @include media('mobile') {
        margin-bottom: 0;
        margin-top: vw-mobile(20);
        order: 3;
      }
    }

    .science-capabilities__title {
      margin-top: 0;

      @include media('mobile') {
        order: 1;
      }
    }

    .science-capabilities__description {
      margin-bottom: 0;
      flex: 1;

      @include media('mobile') {
        order: 2;
      }
    }
  }

  &__line {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background-color: #034a1d;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    @include media('mobile') {
      top: auto;
      bottom: 0;
      transform: none;
    }
  }

  &__box--last {
    @include media('mobile') {
      .science-capabilities__line {
        display: none;
      }
    }
  }

  &__line-pointer {
    background-color: #CBFFDE;
    padding: vw(8);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: vw(25);
      height: vw(25);
      object-fit: contain;
    }

    @include media('tablet') {
      padding: vw(6);
      
      img {
        width: vw(20);
        height: vw(20);
      }
    }

    @include media('mobile') {
      padding: vw-mobile(6);
      
      img {
        width: vw-mobile(20);
        height: vw-mobile(20);
      }
    }
  }
}

