// Science Research Section Component Styles
// Using vw() for desktop (base: 1920px) and vw-mobile() for mobile (base: 414px)
// Based on Figma design: https://www.figma.com/design/QNIbuokNouJSBEY7GUGsEI/Jash---Final-Home-page-auto-layout--Copy-?node-id=2952-3478

@import '../utils/variables';
@import '../utils/functions';
@import '../utils/mixins';

.science-research {
  position: relative;
  width: 100%;
  min-height: vw(800);
  overflow: hidden;
  
  @include media('tablet') {
    min-height: vw(700, 768);
  }
  
  @include media('mobile') {
    min-height: vw-mobile(600, 414);
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    align-items: stretch;
    width: 100%;
    min-height: vw(800);
    
    @include media('tablet') {
      grid-template-columns: 1fr;
      gap: 0;
      min-height: vw(700, 768);
    }
    
    @include media('mobile') {
      grid-template-columns: 1fr;
      gap: 0;
      min-height: vw-mobile(600, 414);
    }
  }

  &__left {
    position: relative;
    width: 100%;
    background: transparent;
  }

  &__image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: vw(800);
    overflow: hidden;
    
    @include media('tablet') {
      min-height: vw(600, 768);
    }
    
    @include media('mobile') {
      min-height: vw-mobile(400, 414);
    }
  }

  &__image {
    object-fit: cover;
    object-position: center;
  }

  &__right {
    position: relative;
    width: 100%;
    min-height: vw(800);
    
    @include media('tablet') {
      min-height: vw(700, 768);
    }
    
    @include media('mobile') {
      min-height: vw-mobile(600, 414);
    }
  }

  &__background {
    position: absolute;
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    
    &-image {
      object-fit: cover;
      object-position: center;
    }
  }

  &__right-content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: vw(100) vw(20) vw(100) vw(50);
    @include flex(column, flex-start, flex-start);
    gap: vw(30);
    
    @include media('tablet') {
      padding: vw(80, 768) vw(20, 768) vw(80, 768) vw(40, 768);
      gap: vw(25, 768);
    }
    
    @include media('mobile') {
      padding: vw-mobile(60, 414) vw-mobile(20, 414) vw-mobile(60, 414) vw-mobile(20, 414);
      gap: vw-mobile(20, 414);
    }
  }

  &__heading {
    font-family: $font-family-base;
    font-weight: 700; // Bold
    font-size: vw(65);
    line-height: vw(80);
    color: #ffffff;
    margin: 0;
    text-transform: capitalize;
    
    @include media('tablet') {
      font-size: vw(55, 768);
      line-height: vw(70, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(32, 414);
      line-height: vw-mobile(42, 414);
    }
  }

  &__text {
    @include flex(column, flex-start, flex-start);
    gap: vw(20);
    padding-right: vw(100);
    
    @include media('tablet') {
      gap: vw(18, 768);
      padding-right: vw(40, 768);
    }
    
    @include media('mobile') {
      gap: vw-mobile(15, 414);
      padding-right: vw-mobile(20, 414);
    }
  }

  &__paragraph {
    font-family: $font-family-base;
    font-weight: 400; // Regular
    font-size: vw(20);
    line-height: vw(32);
    color: #ffffff;
    margin: 0;
    
    @include media('tablet') {
      font-size: vw(18, 768);
      line-height: vw(28, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(16, 414);
      line-height: vw-mobile(24, 414);
    }

    strong {
      font-weight: 700;
    }
  }
}

