// Shareholding Pattern Component Styles
// Using vw() for desktop (base: 1920px) and vw-mobile() for mobile (base: 414px)

@import '../utils/variables';
@import '../utils/functions';
@import '../utils/mixins';

.shareholding-pattern {
  position: relative;
  width: 100%;
  padding: vw(100) 0 vw(100) 0;
  background: #f6f6f6;
  
  @include media('mobile') {
    padding: vw-mobile(50, 414) 0;
  }
  
  &__container {
    position: relative;
    width: vw(1920);
    max-width: 100%;
    margin: 0 auto;
    @include flex(column, flex-start, center);
    gap: 0;
    padding: 0;
    z-index: 2;
    
    @include media('mobile') {
      width: 100%;
      padding: 0 vw-mobile(20, 414);
    }
    
    // Navigation links spacing
    .navigation-links {
      margin-bottom: vw(100);
      
      @include media('mobile') {
        margin-bottom: vw-mobile(50, 414);
      }
    }
  }
  
  // Iframe Wrapper
  &__iframe-wrapper {
    width: 100%;
    min-height: vw(800);
    position: relative;
    padding: 0 vw(100);
    overflow: hidden;
    &::-webkit-scrollbar {
      display: none;
  }
    
    
    @include media('mobile') {
      min-height: vw-mobile(600, 414);
      padding: 0 vw-mobile(20, 414);
    }
  }
  
  &__iframe {
    width: 100%;
    height: vw(800);
    border: none;
    border-radius: vw(15);
    background: #ffffff;
    &::-webkit-scrollbar {
      display: none;
  }
    
    @include media('mobile') {
      height: vw-mobile(600, 414);
      border-radius: vw-mobile(10, 414);
    }
  }
  
  &__placeholder {
    width: 100%;
    height: vw(800);
    @include flex(column, center, center);
    background: #ffffff;
    border-radius: vw(15);
    border: vw(2) dashed #e0e0e0;
    
    @include media('mobile') {
      height: vw-mobile(600, 414);
      border-radius: vw-mobile(10, 414);
      border-width: vw-mobile(1.5, 414);
    }
    
    p {
      font-family: $font-family-base;
      font-weight: 400;
      font-size: vw(18);
      line-height: 1.6;
      color: #999999;
      margin: 0;
      
      @include media('mobile') {
        font-size: vw-mobile(14, 414);
      }
    }
  }
}


