// Transfer of Physical Shares Component Styles
// Using vw() for desktop (base: 1920px) and vw-mobile() for mobile (base: 414px)

@import '../utils/variables';
@import '../utils/functions';
@import '../utils/mixins';

.transfer-physical-shares {
  position: relative;
  width: 100%;
  padding: vw(90) 0;
  background: #ffffff;
  overflow: hidden;
  
  @include media('mobile') {
    padding: vw-mobile(50, 414) 0;
  }
  
  // Background Petals
  &__bg-petals {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-50%);
    width: vw(1099);
    height: vw(1210);
    z-index: 0;
    pointer-events: none;
    
    @include media('mobile') {
      width: vw-mobile(400, 414);
      height: vw-mobile(440, 414);
    }
  }
  
  &__bg-petals-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  // Container
  &__container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 vw(100);
    z-index: 1;
    
    @include media('mobile') {
      padding: 0 vw-mobile(20, 414);
    }
  }
  
  // Content
  &__content {
    width: 100%;
    max-width: vw(1720);
    margin: 0 auto;
    
    @include media('mobile') {
      max-width: 100%;
    }
  }
  
  // Paragraph
  &__paragraph {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: vw(20);
    line-height: vw(30);
    color: #000000;
    margin: 0 0 vw(25) 0;
    
    @include media('mobile') {
      font-size: vw-mobile(14, 414);
      line-height: vw-mobile(22, 414);
      margin-bottom: vw-mobile(18, 414);
    }
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}

