@import '../../utils/variables';
@import '../../utils/functions';
@import '../../utils/mixins';

// Looking Ahead Section Component
.looking-ahead {
  position: relative;
  width: 100%;
  padding: vw(100) 0;
  background: #f0f8f4; // Light green background

  @include media('mobile') {
    padding: vw-mobile(40, 414) 0;
  }

  // Container
  &__container {
    position: relative;
    width: vw(1920);
    max-width: 100%;
    margin: 0 auto;
    padding: 0 vw(98);
    display: flex;
    align-items: center;
    gap: vw(161);

    @include media('mobile') {
      flex-direction: column;
      padding: 0 vw-mobile(20, 414);
      gap: vw-mobile(30, 414);
    }
  }

  // Content (Left Side)
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: vw(28);
    max-width: vw(878);

    @include media('mobile') {
      max-width: 100%;
      gap: vw-mobile(20, 414);
    }
  }

  &__title {
    font-family: $font-family-base;
    font-weight: 700;
    font-size: vw(65);
    line-height: 1.12;
    color: #08a03f;
    margin: 0;

    @include media('mobile') {
      font-size: vw-mobile(32, 414);
      line-height: 1.2;
    }
  }

  &__text {
    font-family: $font-family-base;
    font-weight: 500;
    font-size: vw(25);
    line-height: vw(36);
    color: #08a03f;
    display: flex;
    flex-direction: column;
    gap: 0;

    p {
      margin: 0;
      padding: 0;
    }

    @include media('mobile') {
      font-size: vw-mobile(18, 414);
      line-height: vw-mobile(26, 414);
    }
  }

  // Image (Right Side)
  &__image-wrapper {
    position: relative;
    flex: 1;
    width: 100%;
    height: vw(745);
    max-width: vw(1320.433);
    overflow: hidden;

    @include media('mobile') {
      height: vw-mobile(400, 414);
      max-width: 100%;
      width: 100%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}


