@import '../../utils/variables';
@import '../../utils/functions';
@import '../../utils/mixins';

.sustainability-intro {
  position: relative;
  width: 100%;
  padding: vw(123) vw(95);
  background-color: #f0f8f0; // Light green background as per design
  
  @include media('tablet') {
    padding: vw(80, 768) vw(50, 768);
  }
  
  @include media('mobile') {
    padding: vw-mobile(60, 414) vw-mobile(20, 414);
  }
  
  &__container {
    position: relative;
    width: 100%;
    max-width: vw(1017);
    display: flex;
    flex-direction: column;
    gap: vw(27);
    
    @include media('tablet') {
      max-width: 100%;
      gap: vw(20, 768);
    }
    
    @include media('mobile') {
      max-width: 100%;
      gap: vw-mobile(20, 414);
    }
  }
  
  &__title {
    font-family: $font-family-base;
    font-weight: 700;
    font-size: vw(65);
    line-height: 1.22;
    color: #b0f32c; // Bright lime green as per Figma
    text-transform: capitalize;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    
    @include media('tablet') {
      font-size: vw(50, 768);
      line-height: 1.3;
    }
    
    @include media('mobile') {
      font-size: vw-mobile(32, 414);
      line-height: 1.4;
    }
  }
  
  &__title-line {
    margin: 0;
    display: block;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &__description {
    font-family: $font-family-base;
    font-weight: 700;
    font-size: vw(22);
    line-height: vw(36);
    color: #ffffff; // White text as per Figma
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    
    @include media('tablet') {
      font-size: vw(20, 768);
      line-height: vw(32, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(16, 414);
      line-height: vw-mobile(24, 414);
    }
    
    p {
      margin: 0;
      margin-bottom: 0;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

