// About Us Page Styles
// Using vw() for desktop (base: 1920px) and vw-mobile() for mobile (base: 414px)

@import '../utils/variables';
@import '../utils/functions';
@import '../utils/mixins';

.about-us-content {
  position: relative;
  width: 100%;
  background-color: #1F979C;
  padding: vw(36) vw(41);
  
  @include media('tablet') {
    padding: vw(36, 768) vw(41, 768);
  }
  
  @include media('mobile') {
    padding: vw-mobile(36, 414) vw-mobile(41, 414);
  }
  
  &__container {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  
  &__wrapper {
    width: 100%;
  }
  
  &__topfold {
    position: relative;
    width: 100%;
    height: vw(623);
    border-radius: vw(50);
    overflow: hidden;
    
    @include media('tablet') {
      width: 100%;
      height: vw(623, 768);
      border-radius: vw(50, 768);
    }
    
    @include media('mobile') {
      width: 100%;
      height: vw-mobile(623, 414);
      border-radius: vw-mobile(50, 414);
    }
    
    // Background with opacity and blend mode
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #11846B;
      opacity: 0.5;
      mix-blend-mode: multiply;
      border-radius: inherit;
      z-index: 1;
    }
  }
  
  &__topfold-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 vw(251) 0 vw(309);
    gap: vw(412);
    z-index: 2;
    
    @include media('tablet') {
      flex-direction: column;
      gap: vw(40, 768);
      padding: vw(30, 768) vw(40, 768);
    }
    
    @include media('mobile') {
      flex-direction: column;
      gap: vw-mobile(30, 414);
      padding: vw-mobile(20, 414) vw-mobile(20, 414);
    }
  }
  
  &__topfold-heading {
    font-family: $font-family-base;
    font-weight: 700;
    font-size: vw(90);
    line-height: vw(100.977);
    color: #ffffff;
    text-transform: capitalize;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    span {
      display: block;
      margin: 0;
    }
    
    @include media('tablet') {
      font-size: vw(60, 768);
      line-height: vw(70, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(40, 414);
      line-height: vw-mobile(50, 414);
    }
  }
  
  &__topfold-petals {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    
    @include media('tablet') {
      display: none;
    }
    
    @include media('mobile') {
      display: none;
    }
  }
  
  &__topfold-description {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: vw(20);
    line-height: vw(40);
    color: #ffffff;
    text-transform: lowercase;
    margin: 0;
    width: vw(473);
    height: vw(421);
    text-shadow: 0px vw(4) vw(1.9) rgba(0, 0, 0, 0.17);
    
    .capitalize {
      text-transform: capitalize;
    }
    
    @include media('tablet') {
      width: 100%;
      height: auto;
      font-size: vw(18, 768);
      line-height: vw(32, 768);
    }
    
    @include media('mobile') {
      width: 100%;
      height: auto;
      font-size: vw-mobile(16, 414);
      line-height: vw-mobile(28, 414);
    }
  }
}

