// About Us Page Styles
// Using vw() for desktop (base: 1920px) and vw-mobile() for mobile (base: 414px)

@import '../utils/variables';
@import '../utils/functions';
@import '../utils/mixins';

.about-us-content {
  position: relative;
  width: 100%;
  background-color: #1F979C;
  padding: vw(36) vw(41);
  
  @include media('tablet') {
    padding: vw(36, 768) vw(41, 768);
  }
  
  @include media('mobile') {
    padding: vw-mobile(36, 414) vw-mobile(20, 414);
  }
  
  &__container {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  
  &__wrapper {
    width: 100%;
  }
  
  &__topfold {
    position: relative;
    width: 100%;
    height: vw(623);
    border-radius: vw(50);
    overflow: hidden;
    
    @include media('tablet') {
      width: 100%;
      height: vw(623, 768);
      border-radius: vw(50, 768);
    }
    
    @include media('mobile') {
      width: 100%;
      height: vw-mobile(623, 414);
      border-radius: vw-mobile(50, 414);
    }
    
    // Background with opacity and blend mode
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #11846B;
      opacity: 0.5;
      mix-blend-mode: multiply;
      border-radius: inherit;
      z-index: 1;
    }
  }
  
  &__topfold-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 vw(100);
    gap: vw(412);
    z-index: 2;
    
    @include media('tablet') {
      flex-direction: column;
      gap: vw(40, 768);
      padding: vw(30, 768) vw(40, 768);
    }
    
    @include media('mobile') {
      flex-direction: column;
      gap: vw-mobile(30, 414);
      padding: vw-mobile(20, 414) vw-mobile(20, 414);
    }
  }
  
  &__topfold-heading {
    font-family: $font-family-base;
    font-weight: 700;
    font-size: vw(80);
    line-height: vw(100.977);
    color: #ffffff;
    text-transform: capitalize;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    span {
      display: block;
      margin: 0;
    }
    
    @include media('tablet') {
      font-size: vw(60, 768);
      line-height: vw(70, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(40, 414);
      line-height: vw-mobile(50, 414);
    }
  }
  
  &__topfold-petals {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    
    @include media('tablet') {
      display: none;
    }
    
    @include media('mobile') {
      display: none;
    }
  }
  
  &__topfold-description {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: vw(20);
    line-height: vw(40);
    color: #ffffff;
    text-transform: lowercase;
    margin: 0;
    width: 100%;
    height: auto;
    text-shadow: 0px vw(4) vw(1.9) rgba(0, 0, 0, 0.17);
    
    .capitalize {
      text-transform: capitalize;
    }
    
    @include media('tablet') {
      width: 100%;
      height: auto;
      font-size: vw(18, 768);
      line-height: vw(32, 768);
    }
    
    @include media('mobile') {
      width: 100%;
      height: auto;
      font-size: vw-mobile(16, 414);
      line-height: vw-mobile(28, 414);
    }
  }
  
  // Fold sections
  &__fold {
    width: 100%;
    position: relative;
    height: vw(623);
    border-radius: vw(50);
    transition: background-color $transition-base;
    
    &--green {
      background-color: #21AB53;
    }
    
    &--teal {
      background-color: #11846B;
    }
    
    @include media('tablet') {
      height: vw(623, 768);
      border-radius: vw(50, 768);
    }
    
    @include media('mobile') {
      height: vw-mobile(623, 414);
      border-radius: vw-mobile(50, 414);
      
      &--teal {
        background-color: #11846b !important;
      }
      
      &--green {
        background-color: #21ab53 !important;
      }
    }
    
    &:hover {
      background-color: #ffffff;
      
      .about-us-content__fold-cta {
        opacity: 0.9;
        
        @include media('mobile') {
          opacity: 1;
        }
      }
      
      .about-us-content__fold-image img {
        transform: scale(1.05);
      }
      
      .about-us-content__fold-svg {
        opacity: 0;
        visibility: hidden;
      }
      
      .about-us-content__fold-text {
        opacity: 1;
        visibility: visible;
      }
      
      .about-us-content__fold-heading {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  
  &__fold-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100%;
    
    @include media('tablet') {
      width: 100%;
    }
    
    @include media('mobile') {
      width: 100%;
    }
  }
  
  &__fold-image {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform $transition-base;
    }
    
    &--left {
      left: 0;
      border-top-left-radius: vw(50);
      border-bottom-left-radius: vw(50);
      
      @include media('tablet') {
        border-top-left-radius: vw(50, 768);
        border-bottom-left-radius: vw(50, 768);
      }
      
      @include media('mobile') {
        border-top-left-radius: vw-mobile(50, 414);
        border-bottom-left-radius: vw-mobile(50, 414);
      }
    }
    
    &--right {
      right: 0;
      border-top-right-radius: vw(50);
      border-bottom-right-radius: vw(50);
      
      @include media('tablet') {
        border-top-right-radius: vw(50, 768);
        border-bottom-right-radius: vw(50, 768);
      }
      
      @include media('mobile') {
        border-top-right-radius: vw-mobile(50, 414);
        border-bottom-right-radius: vw-mobile(50, 414);
      }
    }
    
    @include media('tablet') {
      position: relative;
      width: 100%;
      height: auto;
      
      img {
        width: 100%;
        height: auto;
      }
    }
    
    @include media('mobile') {
      position: relative;
      width: 100%;
      height: auto;
      
      img {
        width: 100%;
        height: auto;
        border-radius: vw-mobile(40, 414);
      }
    }
  }
  
  &__fold-cta {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: vw(291);
    height: vw(291);
    opacity: 0;
    transition: opacity $transition-base;
    z-index: 4;
    text-decoration: none;
    
    @include media('tablet') {
      width: vw(250, 768);
      height: vw(250, 768);
    }
    
    @include media('mobile') {
      width: vw-mobile(135, 414);
      height: vw-mobile(135, 414);
      opacity: 1 !important;
    }
  }
  
  &__fold-cta-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(33, 171, 83, 0.9);
    backdrop-filter: blur(4px);
  }
  
  &__fold-cta-text {
    position: relative;
    font-family: $font-family-base;
    font-weight: 700;
    font-size: vw(40);
    line-height: vw(47.572);
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    
    @include media('tablet') {
      font-size: vw(32, 768);
      line-height: vw(38, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(24, 414);
      line-height: vw-mobile(30, 414);
    }
  }
  
  &__fold-svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity $transition-base, visibility $transition-base;
    
    &--left {
      left: 25%;
      transform: translate(-50%, -50%);
      
      img {
        width: vw(531);
        height: auto;
        
        @include media('tablet') {
          width: vw(400, 768);
        }
        
        @include media('mobile') {
          width: vw-mobile(250, 414);
        }
      }
    }
    
    &--right {
      right: 25%;
      transform: translate(50%, -50%);
    }
    
    @include media('tablet') {
      &--left {
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      &--right {
        right: 50%;
        transform: translate(50%, -50%);
      }
    }
    
    @include media('mobile') {
      display: none;
    }
  }
  
  &__fold-heading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: $font-family-base;
    font-weight: 700;
    font-size: vw(90);
    color: #ffffff;
    margin: 0;
    z-index: 3;
    opacity: 1;
    visibility: visible;
    transition: opacity $transition-base, visibility $transition-base;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    span {
      display: block;
      line-height: 1.2;
      
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
    
    @include media('tablet') {
      font-size: vw(60, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(30, 414);
      flex-direction: row;
      justify-content: center;
      gap: vw-mobile(5, 414);
      flex-wrap: wrap;
    }
  }
  
  &__fold-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: vw(742);
    padding: 0 vw(60);
    opacity: 0;
    visibility: hidden;
    transition: opacity $transition-base, visibility $transition-base;
    z-index: 3;
    @include media('mobile') {
     position: relative;
    }
    // Position close to the left image (starting from image edge)
    .about-us-content__fold--teal & {
      left: 50%;
      text-align: left;
    }
    
    // Position close to the right image (ending at image edge)
    .about-us-content__fold--green & {
      right: 50%;
      text-align: left;
    }
    
    p {
      font-family: $font-family-base;
      font-weight: 500;
      font-size: vw(28);
      line-height: vw(32);
      color: #21AB53;
      margin: 0 0 vw(20) 0;

   
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    @include media('tablet') {
      width: vw(600, 768);
      padding: 0 vw(40, 768);
      
      .about-us-content__fold--teal & {
        right: 0;
        left: auto;
      }
      
      .about-us-content__fold--green & {
        left: 0;
        right: auto;
      }
      
      p {
        font-size: vw(24, 768);
        line-height: vw(32, 768);
        margin-bottom: vw(15, 768);
        font-weight: 500;
      
      }
    }
    
    @include media('mobile') {
      width: vw-mobile(350, 414);
      padding: 0 vw-mobile(20, 414);
      left: 50% !important;
      right: auto !important;
      transform: translate(-50%, -50%);
      text-align: left;
      opacity: 1;
      visibility: visible;
      top: 34%;
      
      p {
        font-size: vw-mobile(16, 414);
        line-height: 1.2;
        margin-bottom: vw-mobile(15, 414);
        font-weight: 500;
        color: #ffffff;
      }
    }
  }
  
  &__view-all {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: vw(60);
    
    @include media('tablet') {
      margin-top: vw(50, 768);
    }
    
    @include media('mobile') {
      margin-top: vw-mobile(40, 414);
    }
  }
  
  &__view-all-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: vw(1836);
    height: vw(276);
    border: vw(1) solid rgba(217, 217, 217, 0.5);
    border-radius: vw(52);
    text-decoration: none;
    transition: border-color $transition-base, background-color $transition-base;
    
    @include media('tablet') {
      width: 90%;
      max-width: vw(1836, 768);
      height: vw(220, 768);
      border-radius: vw(40, 768);
      border-width: vw(1, 768);
    }
    
    @include media('mobile') {
      width: 90%;
      max-width: vw-mobile(350, 414);
      height: vw-mobile(150, 414);
      border-radius: vw-mobile(30, 414);
      border-width: vw-mobile(1, 414);
    }
    
    &:hover {
      border-color: rgba(217, 217, 217, 0.8);
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
  
  &__view-all-text {
    font-family: $font-family-base;
    font-weight: 500;
    font-size: vw(50);
    line-height: vw(100.977);
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
    
    @include media('tablet') {
      font-size: vw(40, 768);
      line-height: vw(50, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(28, 414);
      line-height: vw-mobile(35, 414);
    }
  }
}

