// Ethics, Compliance and Governance Page Styles
// Using vw() for desktop (base: 1920px) and vw-mobile() for mobile (base: 414px)

@import '../utils/variables';
@import '../utils/functions';
@import '../utils/mixins';

.ethics-compliance-governance-content {
  position: relative;
  width: 100%;
  
  &__container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: vw(100) vw(100);
    
    @include media('tablet') {
      padding: vw(80, 768) vw(60, 768);
    }
    
    @include media('mobile') {
      padding: vw-mobile(60, 414) vw-mobile(20, 414);
    }
  }
  
  &__wrapper {
    width: 100%;
    @include flex(column, flex-start, center);
  }
  
  // P.L.E.D.G.E. Box - matching Figma design
  &__pledge-box {
    position: relative;
    width: 100%;
    max-width: vw(1718);
    background: #ffffff;
    border: 1px solid #08a03f;
    border-radius: vw(60);
    padding: vw(48) vw(150);
    @include flex(column, center, center);
    
    @include media('tablet') {
      max-width: 100%;
      border-radius: vw(50, 768);
      padding: vw(40, 768) vw(80, 768);
    }
    
    @include media('mobile') {
      max-width: 100%;
      border-radius: vw-mobile(30, 414);
      padding: vw-mobile(30, 414) vw-mobile(20, 414);
    }
  }
  
  // Section Title
  &__section-title {
    font-family: $font-family-base;
    font-weight: 700;
    font-size: vw(32);
    line-height: vw(40);
    color: #126430;
    text-align: center;
    margin: 0 0 vw(40) 0;
    width: 100%;
    
    @include media('tablet') {
      font-size: vw(28, 768);
      line-height: vw(35, 768);
      margin-bottom: vw(35, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(20, 414);
      line-height: vw-mobile(26, 414);
      margin-bottom: vw-mobile(25, 414);
    }
  }

  // P.L.E.D.G.E. Text
  &__pledge-text {
    font-family: $font-family-base;
    font-weight: 700;
    font-size: vw(20);
    line-height: vw(36);
    color: #126430;
    text-align: center;
    opacity: 0.8;
    margin: 0;
    width: 100%;
    
    // ReactMarkdown styles
    p {
      margin: 0;
    }
    
    @include media('tablet') {
      font-size: vw(18, 768);
      line-height: vw(28, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(14, 414);
      line-height: vw-mobile(22, 414);
    }
  }
  
  // Text Content Box - matching Figma design
  &__text-box {
    position: relative;
    width: 100%;
    max-width: vw(1640);
    min-height: vw(600);
    padding: vw(70) vw(10) vw(10) vw(10);
    @include flex(column, center, center);
    background-image: url('/assets/images/1.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: vw(1049) auto;
    
    @include media('tablet') {
      max-width: 100%;
      min-height: vw(500, 768);
      padding: vw(60, 768) vw(10, 768) vw(10, 768) vw(10, 768);
      background-size: vw(800, 768) auto;
    }
    
    @include media('mobile') {
      max-width: 100%;
      min-height: vw-mobile(400, 414);
      padding: vw-mobile(50, 414) vw-mobile(10, 414) vw-mobile(10, 414) vw-mobile(10, 414);
      background-size: 100% auto;
    }
  }
  
  // Text content
  &__text-content {
    position: relative;
    width: 100%;
    max-width: vw(1640);
    z-index: 1;
    
    // ReactMarkdown styles
    p {
      font-family: $font-family-base;
      font-weight: 500;
      font-size: vw(25);
      line-height: vw(48);
      color: #434343;
      margin: 0 0 vw(20) 0;
      text-align: center;
      
      @include media('tablet') {
        font-size: vw(22, 768);
        line-height: vw(40, 768);
        margin-bottom: vw(18, 768);
      }
      
      @include media('mobile') {
        font-size: vw-mobile(16, 414);
        line-height: vw-mobile(28, 414);
        margin-bottom: vw-mobile(15, 414);
      }
      
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    // Handle empty paragraphs (spacing)
    p:empty {
      height: vw(20);
      margin-bottom: vw(20);
      
      @include media('mobile') {
        height: vw-mobile(15, 414);
        margin-bottom: vw-mobile(15, 414);
      }
    }
    
    @include media('tablet') {
      max-width: 100%;
    }
    
    @include media('mobile') {
      max-width: 100%;
    }
  }
  
  // Text paragraphs (legacy support)
  &__text-paragraph {
    font-family: $font-family-base;
    font-weight: 500;
    font-size: vw(25);
    line-height: vw(48);
    color: #434343;
    margin: 0 0 vw(0) 0;
    
    @include media('tablet') {
      font-size: vw(22, 768);
      line-height: vw(40, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(16, 414);
      line-height: vw-mobile(28, 414);
    }
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}

