@import '../utils/variables';
@import '../utils/functions';
@import '../utils/mixins';

.financial-documents {
  padding: vw(50) vw(100);
  width: 100%;
  background-color: #f6f6f6;

  @include media('tablet') {
    padding: vw(40, 768) vw(50, 768);
  }

  @include media('mobile') {
    padding: vw-mobile(30, 414) vw-mobile(20, 414);
  }

  &__container {
    max-width: vw(1820);
    margin: 0 auto;
  }

  &__grid {
    display: flex;
    gap: vw(70);
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    @include media('tablet') {
      gap: vw(40, 768);
      justify-content: center;
    }

    @include media('mobile') {
      gap: vw-mobile(30, 414);
      flex-direction: column;
      align-items: center;
    }
  }
}

