// Sustainability Page Styles
@import '../utils/variables';
@import '../utils/functions';
@import '../utils/mixins';

.sustainability-content {
  position: relative;
  width: 100%;
  
  &__container {
    max-width: 100%;
    margin: 0 auto;
  }
}

// Sustainability Highlights Image Section
.sustainability-highlights-image {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  picture {
    display: block;
    width: 100%;
  }

  &__img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
  }
}
