// Test Profile Card Page Styles
@import '../utils/variables';
@import '../utils/functions';
@import '../utils/mixins';

.test-profile-card {
  position: relative;
  width: 100%;
  min-height: vw(800);
  padding: vw(80) 0;
  background: #f6f6f6;
  
  @include media('mobile') {
    min-height: auto;
    padding: vw-mobile(40, 414) 0;
  }

  &__container {
    position: relative;
    width: vw(1724);
    max-width: 100%;
    margin: 0 auto;
    @include flex(column, flex-start, center);
    gap: vw(60);
    padding: 0 vw(40);
    z-index: 2;
    
    @include media('mobile') {
      width: 100%;
      gap: vw-mobile(30, 414);
      padding: 0 vw-mobile(20, 414);
    }
  }

  &__header {
    width: 100%;
    text-align: center;
    @include flex(column, center, center);
    gap: vw(20);
    
    @include media('mobile') {
      gap: vw-mobile(15, 414);
    }
  }

  &__title {
    font-family: $font-family-base;
    font-weight: 600;
    font-size: vw(48);
    line-height: 1.3;
    color: #126430;
    margin: 0;
    
    @include media('mobile') {
      font-size: vw-mobile(28, 414);
    }
  }

  &__description {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: vw(20);
    line-height: 1.6;
    color: #666666;
    margin: 0;
    max-width: vw(800);
    
    @include media('mobile') {
      font-size: vw-mobile(16, 414);
      max-width: 100%;
    }
  }
}

