// Specialty Heading Section Component Styles
// Using vw() for desktop (base: 1920px) and vw-mobile() for mobile (base: 414px)
// Based on Figma design: https://www.figma.com/design/QNIbuokNouJSBEY7GUGsEI/Jash---Final-Home-page-auto-layout--Copy-?node-id=3152-4

@import '../../utils/variables';
@import '../../utils/functions';
@import '../../utils/mixins';

.specialty-heading {
  position: relative;
  width: 100%;
  padding: 0 vw(100) vw(60) vw(100);
  
  @include media('tablet') {
    padding: 0 vw(60, 768) vw(50, 768) vw(60, 768);
  }
  
  @include media('mobile') {
    padding: 0 vw-mobile(20, 414) vw-mobile(40, 414) vw-mobile(20, 414);
  }
  
  &__container {
    position: relative;
    width: 100%;
    max-width: vw(1720);
    margin: 0 auto;
  }
  
  &__text {
    font-family: $font-family-base;
    font-weight: 700; // Bold
    font-size: vw(35);
    line-height: vw(80);
    color: #4b4b4b;
    margin: 0;
    text-align: left;
    
    @include media('tablet') {
      font-size: vw(30, 768);
      line-height: vw(60, 768);
    }
    
    @include media('mobile') {
      font-size: vw-mobile(24, 414);
      line-height: vw-mobile(36, 414);
    }
  }
}

